/* -------------------------------------------------------------
#primary .content-area
	main#main .site-main
		article .post
			.entry-header 
			.entry-content
			.entry-footer
		.post-navigation	
-------------------------------------------------------------- */
.content-area {
	.site-main {
		article {}
	}
}
.entry-header {
	.entry-title {
		margin-bottom: 0;
	}
	.entry-meta {
		.font-size(14px);
		display: inline-block;
		
		.posted-on {
			time {}
		}
		.byline {
			.author {
				a {}
			}
		}
	}
	.cat-links {
		.font-size(14px);
	}	
}
.entry-content {
	p {}
	img {}
	a {}
}
.entry-footer {
	a {}
}
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.spotlights-wrapper {
	background: @sec-color;
	overflow: hidden;
	
	.spotlights {
		.padding(10px,0);
		.wrap;
		overflow: hidden;
		
		.spotlight {
			.column(4);
			.border-radius(5px);
			border: 1px solid @grey;
			
			h2 {
				text-align: center;
			}
		}
	}
}
.page {
	.content-area {
		.column(12);
	}
	//Level 2 Section
	.page-info-wrapper {	
		.page-info {
			.wrap;
			.padding-top(10px);
		}
	}			
			
	header {}
	h1 {
		margin: 0;
		.padding(10px, 0);
		display: inline;
		float: left;
		//width: 33%;				
	}
	.breadcrumbs {
		float: right;
		.margin-top(10px);
		.font-size(12px);
	}
	.page-menu {
		//width: 33%;
		//float: left;
		//text-align: center;				
		
		.mmenu-toggle {
			display: none;
			
			.nav-menu {
				width: 300px;
				//margin: 0 auto 0;
				//.margin-left(-100%);
				position: absolute;
				background: @white;
				
				li {
					//width: 20%;
					//text-align: left;
					display: block;
					position: static;
					float: none;
					
				}
			}
		}
		&:hover > .mmenu-toggle {
			display: block;
		}
	}
	.search-not-mobile {
		display: inline-block;
		width: 33%;
		text-align: right;
	}
	//3rd Level Header
	article {
		.wrap;
		clear: both;
	}
	.article-header {
		border-top: 1px solid @grey;
		border-bottom: 1px solid @grey;
		.margin-top(10px);
		overflow: hidden;
		h2 {
			.column(6);
		}
		.contact-info {
			.column(6);
			font-style: italic;
			text-align: right;
		}
	}
	.col-1 {}
	.col-2 {
		.column(8);
	}	
	.col-3 {
		.column(4);
	}	
	.widgets {
		ul {
			list-style: none;
			padding: 0;
			.padding-left(5px);
			.font-size(14px);
		}
		h3 {
			background: @sec-color;
			text-align: center;
		}
		h4 {
			.font-size(16px);
		}
		p {
			.font-size(14px);
			text-align: justify;
		}	
	}
}
.level2 {
	.col-1 { .column(4); }
	.col-2 { .column(4); }
	.col-3 { .column(4); }
}